.popup {
  display: flex;
  flex-direction: column;
  background: rgba(5, 0, 10, 0.30);
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: visability 0.2s, opacity 0.2s ease-in;
  z-index: 3;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup_type_company {
  position: absolute;
  top: 24px;
  left: 0;
}

.popup_type_delivery {
  position: fixed;
  top: 0;
  right: 0;
}

.popup_type_payment {
  position: fixed;
  top: 0;
  right: 0;
}

.popup__container-company {
  width: 280px;
  margin: 0 auto 0;
  padding: 11px 16px 13px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background-color: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.popup__company-title {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  align-self: stretch;
}

.popup__company-text {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  align-self: stretch;
}

.popup__container-delivery {
  width: 500px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

.popup__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 13px;
}

.popup__title {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.popup__close {
  width: 24px;
  height: 24px;
  margin: 3px -3px 0 0;
  padding: 0;
  background: url(../../images/search-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.popup__delivery-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px 24px;
  gap: 28px;
}

.popup__delivery-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.popup__delivery-point {
  display: flex;
  width: 224px;
  height: 34px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  background: #FFF;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  cursor: pointer;
}

.popup__delivery-courier {
  display: flex;
  width: 224px;
  height: 34px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  border: 2px solid #CB11AB;;
  background: #FFF;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  cursor: pointer;
}

.popup__delivery-addresses {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.popup__delivery-subtitle {
  margin: 0 0 12px;
  padding: 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  list-style: none;
}

.popup__delivery-address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 0;
  align-items: flex-start;
}

.popup__choose {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
}

.popup__radio {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin: 3px 0 0;
  background: url(../../images/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  cursor: pointer;
  align-self: flex-start;
}

.popup__radio:checked {
  background: url(../../images/radio-color.svg);
}

.popup__delivery-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.popup__delivery-text {
  max-width: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.popup-delivery-set {
  display: none;
}

.popup-delivery-star {
  width: 12px;
  height: 12px;
  align-self: center;
}

.popup-delivery-score {
  margin: 0 4px 0 8px;
  padding: 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.popup-delivery-place {
  margin: 0;
  padding: 0;
  color: #A0A0A4;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.popup__delivery-trash {
  width: 20px;
  height: 20px;
  margin: 3px 0 0;
  background: url(../../images/icon-trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.popup__delivery-trash:hover {
  background: url(../../images/icon-trash-red.svg);
}

.popup__delivery-submit {
  display: flex;
  width: 164px;
  height: 44px;
  margin: 35px 0 0 2px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #CB11AB;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  color: #FFF;
  text-align: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.popup__container-payment {
  width: 400px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

.popup__payment-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 22px 24px;
  gap: 16px;
}

.popup__payment-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.popup__payment-label {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.popup__payment-text {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.popup__payment-image {
  width: 32px;
  height: 24px;
  border-radius: 4px;
  background: var(--Background-Smoky, #F6F6FA);
}

.popup__payment-submit {
  width: 164px;
  height: 44px;
  margin: 122px 0 0;
  padding: 0;
  border-radius: 8px;
  background: #CB11AB;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  color: #FFF;
  text-align: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .popup__container-delivery {
    width: 320px;
    border-radius: 0;
  }

  .popup__delivery-group {
    padding: 0 16px 16px;
    gap: 28px;
  }

  .popup__row {
    padding: 16px 11px 13px 16px;
  }

  .popup__title {
    font-weight: 600;
  }

  .popup__delivery-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .popup__delivery-point {
    width: 140px;
    height: 40px;
    border: 2px solid #CB11AB;;
  }

  .popup__delivery-courier {
    width: 140px;
    height: 40px;
    border: 2px solid rgba(203, 17, 171, 0.15);
  }

  .popup__delivery-subtitle {
    margin: 0 0 12px;
  }

  .popup__delivery-address {
    margin: 0 0 20px;
  }

  .popup__delivery-text {
    max-width: 236px;
  }

  .popup-delivery-set {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .popup__delivery-submit {
    width: 288px;
    margin-top: 141px;
  }

  .popup__container-payment {
    width: 320px;
    border-radius: 0;
  }

  .popup__payment-cards {
    padding: 0 16px 16px;
  }

  .popup__payment-submit {
    width: 288px;
    margin-top: 317px;
  }
}
